html, body {
  height: 100%;
  margin: 0;
}

paper-scroll-header-panel {
  height: 100%;
}

paper-toolbar{
  color: #fff;
}

paper-toolbar paper-icon-button{
  --paper-icon-button-ink-color: white;
}

paper-dialog.create {
    position: fixed;
    bottom: 0px;
    right: 80px;
    width: 350px;
    margin-bottom: 0px;
    background-color: white;
    max-height: none !important;
}

:host {
  --app-primary-color: #4285f4;
  --app-secondary-color: black;

  display: block;
}

app-header {
  color: #fff;
  background-color: var(--app-primary-color);
}
app-header paper-icon-button {
  --paper-icon-button-ink-color: white;
}

.drawer-list {
  margin: 0 20px;
}

.drawer-list a {
  display: block;

  padding: 0 16px;

  text-decoration: none;

  color: var(--app-secondary-color);

  line-height: 40px;
}

.drawer-list a.iron-selected {
  color: black;

  font-weight: bold;
}
