html, body {
  height: 100%;
}

/*paper-scroll-header-panel {
  height: 100%;
/*}*/
paper-scroll-header-panel {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: var(--paper-grey-200, #eee);;
    }

paper-scroll-header-panel .content {
     padding: 55px;
}

paper-toolbar{
  color: #fff;
}

paper-fab {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

paper-dropdown-menu {
  margin: 16px auto;
  left: 16px;
}

paper-toolbar paper-icon-button{
  --paper-icon-button-ink-color: white;
}

paper-dialog.create {
    position: fixed;
    bottom: 0px;
    right: 80px;
    width: 350px;
    margin-bottom: 0px;
    background-color: white;
    max-height: none !important;
}


paper-material {
    border-radius: 2px;
    /*height: 100%;*/
    padding: 16px 0 16px 0;
    width: calc(98.66% - 16px);
    margin: 16px auto;
    background: white;
}

:host {
  --app-primary-color: #4285f4;
  --app-secondary-color: black;

  display: block;
}

app-header {
  color: #fff;
  background-color: var(--app-primary-color);
}
app-header paper-icon-button {
  --paper-icon-button-ink-color: white;
}

.drawer-list {
  margin: 0 20px;
}

.drawer-list a {
  display: block;

  padding: 0 16px;

  text-decoration: none;

  color: var(--app-secondary-color);

  line-height: 40px;
}

.drawer-list a.iron-selected {
  color: black;

  font-weight: bold;
}
